.cleaning {
    width: 38%;
    background-color: white;
    border: 3px solid black;
    margin: 3px;
}

.cleaning__header {
    text-align: center;
    font-size: 2.5em;
    margin: .25em;
}

.cleaning__text {
    margin: .5em;
    font-size: 1.25em;
    text-align: center;
}

.cleaning__list li {
    font-size: 1.25em;
}
