.fish {
    width: 60%;
    background-color: white;
    border: 3px solid black;
    margin: 3px;
}

.fish__header {
    text-align: center;
    font-size: 2.5em;
    margin: .25em;
}

.fish__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.fish__container {
    width: 30%;
    background-color: aqua;
    border: 3px solid black;
    margin: auto;
    margin-top: .5vw;
    margin-bottom: .5vw;
}

.fish__picture {
    display: block;
    width: 95%;
    margin: auto;
    padding-top: .5vw;
}

.fish__info {
    margin: .5em;
    background-color: white;
    border: 3px solid black;
    text-align: center;
    font-size: 1.25em;
}