body {
    background-image: url("https://w.forfun.com/fetch/e8/e85f9c5267a09565b29d9c4f727b369e.jpeg");
    background-size: cover;
}

li {
    margin: 6px;
}

.pageHeader {
    background-color: white;
    border: 3px solid black;
    text-align: center;
    margin: 3px;
}

.pageBody {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}