body {
    background-image: url("https://w.forfun.com/fetch/e8/e85f9c5267a09565b29d9c4f727b369e.jpeg");
    background-size: cover;
}

li {
    margin: 6px;
}

.pageHeader {
    background-color: white;
    border: 3px solid black;
    text-align: center;
    margin: 3px;
}

.pageBody {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fish {
    width: 60%;
    background-color: white;
    border: 3px solid black;
    margin: 3px;
}

.fish__header {
    text-align: center;
}

.fish__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.fish__container {
    width: 35%;
    background-color: aqua;
    border: 3px solid black;
    margin: 6px;
}

.fish__picture {
    display: block;
    margin: auto;
    margin-top: .5em;
    width: 95%;
    height: 60%;
    border: 3px solid black;
}

.fish__species {
    margin: auto;
    width: 95%;
    background-color: white;
    border: 3px solid black;
}

.fish__name {
    margin: auto;
    width: 95%;
    background-color: white;
    border: 3px solid black;
}

.fish__location {
    margin: auto;
    width: 95%;
    background-color: white;
    border: 3px solid black;
}

.fish__food {
    margin: auto;
    width: 95%;
    background-color: white;
    border: 3px solid black;
}

.cleaning {
    width: 38%;
    background-color: white;
    border: 3px solid black;
    margin: 3px;
}

.cleaning__header {
    text-align: center;
}

.cleaning__text {
    margin: 6px;
}

.travel {
    width: 100%;
    background-color: white;
    border: 3px solid black;
    margin: 3px;
}

.tips__header {
    text-align: center;
}

.tips__text {
    margin: 6px;
}

.locations__header {
    text-align: center;
}

.locations__text {
    margin: 6px;
}